body {
    
}

.container {

    background-color: darkseagreen;
    border-radius: 1em;
    text-align: center;
}

#search {
    width: 50%;
    height: 50px;
    margin: 30px auto;
    padding: 10px;
    border: solid 2px lightgrey;
    border-radius: 5px;
}

.gallery {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 90%;
    margin: auto;
    
}

img {
    border-radius: 1em;
}